$button-size: 60px;
$button-bg-default: #1D1818;
$margin-to-corner: 30px;
$icon-size: 40px;

.button-sequence {
    position: fixed;
    -webkit-backface-visibility:hidden; /*Most Important*/
    z-index: 999;
    opacity: 0.9;
    
    height: 100%;
    width: 100%;
    
    .sequence-button {
        bottom: $margin-to-corner;
        right: $margin-to-corner;
        position: absolute;
        height: $button-size;
        width: $button-size;
        line-height: $button-size + $icon-size / 2;
        background: {
            color: $button-bg-default;
        }
        border-radius: 50%;
        text-align: center;
        z-index: 999;
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), right 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
        
        &.v, &.h {
            
            .button-txt {
                color: white;
                background: #333;
                position: absolute;
                line-height: initial;
                padding: 2px 5px;
                border-radius: 1px;
            }
        }
        
        &.v {
            .button-txt {
                left: -60px;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        
        &.h {           
            .button-txt {
                top: 110%;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
        
        
    }
    
    .buttons-container {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 888;
        height: $button-size;
        width: $button-size;
    }
    
    ion-icon {
        color: white;
        font-size: $icon-size;
    }
    
}

